---
layout: default
---

<h1 style="text-align: center; font-size: 2.5em; padding-top: 15px;">Projects</h1>

<div class="projects-grid">
{% for post in site.posts %}
		<div class="project-box">
			<div>
				{% if post.thumbnail %}
				<img src="{{ site.baseurl }}/{{ post.thumbnail }}" alt="thumbnail" class="thumbnail">
				{% endif %}
			</div>
				
			<div>
				<a href="{{ post.url | prepend: site.baseurl }}">
				<!-- <time>{{ post.date | date: "%b %-d, %Y" }}</time> -->
					<h3>{{ post.title }}</h3>
				</a>
			</div>
			
			<div class="tag-banner">
				{% for tag in post.categories %}
				<span class="tag">{{ tag }}</span>
				{% endfor %}
			</div>
		</div>
{% endfor %}
</div>

