$content-width: 800px;
// $main: #19ccaa;
$font-style: 'Open Sans', sans-serif;
$font-color: #ffff;
// $link-color: #425469;
// $link-hover-color: $main;
$heading-font: 'Multi', sans-serif;
// $heading-font-color: #425469;
// $light: #e7edf4;
// $header: #1d1425;

$base: #000000;
$first-layer: #262626;
$second-layer: #404040;
$third-layer: #666666;
$highlights: #884EAE;
$accent: #cc01d7;


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}